
.open-sans-normal{
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}
/* shared style */
.text-primary{
    color: #FD6E0A;
}

/* nav styles */
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 200px;
}
.nav-title{
    font-weight: 800;
    font-size: 45px;
}
nav ul li{
    list-style: none;
    margin: 51px;
}
nav li a{
    text-decoration: none;
    font-size: 20px;
}
.dark-2{
    color:#474747
}
nav ul{
    display: flex;
    align-items:center;
}
.btn-primary{
    border-radius: 5px;
    background-color: #FD6E0A;
    width: 150px;
    height: 64px;
    color: white;
    font-weight: bold;
    border: none;
    font-size: 20px;
    padding: 18px 35px;
}
.button-primary{
    width: 200px;
    font-weight: bold;
    font-size: 20px;
    height: 64px;
    background-color: #FD6E0A;
    color: white;
    border-radius: 5px;
    border: none;
}
.button-primary2{
    width: 160px;
    height: 64px;
    font-weight: bold;
    font-size: 20px;
    color: #FD6E0A;
    border: 2px solid #FD6E0A;
    border-radius: 5px;
    margin: 10px 50px 10px 30px;
    padding: 19px 25px;
}
/* banner styles */
.banner-greetings{
    font-size: 45px;
    font-weight: 600;
}
.banner-title{
    font-weight: bold;
    font-size: 85px;
}
.banner-describtion{
    font-size: 18px;
    font-weight: 500;
    color: #757575;
}
.banner-profile-pic{
    width: 580px;
}
.banner{
    display: flex;
    justify-content: space-between;
    margin: 0 35px 0 200px;
}
.banner-content{
    max-width: 580px;
}
/* header */
.header{
    background-image: url('../images/developer.png'), url('../images/header_bg.png');
    background-repeat: no-repeat;
    background-position: top left,bottom right;
}